[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=OpenCV-Demo-Webapp
Comment=just an Opencv SNAP Example
Exec=opencv-demo-webapp.desktop-launch
Icon=${SNAP}/meta/gui/icon.png
Terminal=false
Categories=Development;
